* {
    font-family: Jost, 'Times New Roman', serif;
    color: black; 
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1.5fr 1fr 1.5fr 1fr .5fr 1fr;
    grid-template-areas: 
        "nav nav nav"
        "header header header"
        "about about about"
        "projects projects projects"
        "project1 project2 project3"
        "skills skills skills"
        "skillimages skillimages skillimages"
        "footer footer footer";
    grid-gap: .2rem;
    color: white;
    
}


h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    position: relative;
    bottom: 50px;
}

h3 {
    font-size: 29px;
}

h4 {
    font-size: 20px;
}

#logo {
    width: 75px;
    height: auto;
    float: left;
}

nav {
    grid-area: nav;
    text-align: center;
    
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    text-align: center;
}

nav li a {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
   
}

nav label {
   float: right;
   bottom: 70px;
}

span img {
    width: 25px;
    height: auto;
    position: relative;
    top: 4px;
    right: 2px;
}

#sun {
    position: relative;
    right: 1px;
}

.switch {
    position: relative; 
    display: inline-block;
    width: 60px;
    height: 34px;
    text-align: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0; 
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #CCC;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px; 
    width: 26px;
    left: 4px; 
    bottom: 4px; 
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    box-shadow: 0 0 1px black;
}

input:focus + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

header {
    grid-area: header;
    text-align: center;
    border-radius: 2%;
}

#about {
    grid-area: about;
    text-align: center;
}

#about p {
    width: 850px;
    text-align: justify;
    margin: auto;
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 40px;
}

#about img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    padding-top: 40px;
}

#projects {
    grid-area: projects;
    text-align: center;
}

#project1 {
    grid-area: project1;
    text-align: center;
}

#project1 p {
    width: 300px;
    text-align: justify;
    margin: auto;
}

#project1 img {
    width: 200px;
    height: auto;
}

#project1 img:hover {
    width: 250px;
    height: auto;
    cursor: pointer;
    filter: blur(5px);
}

#project2 {
    grid-area: project2;
    text-align: center;
}

#project2 p {
    width: 300px;
    text-align: justify;
    margin: auto;
}

#project2 img {
    width: 200px;
    height: auto;
}

#project2 img:hover {
    width: 250px;
    height: auto;
    cursor: pointer;
    filter: blur(5px);
}

#project3 {
    grid-area: project3;
    text-align: center;
}

#project3 p {
    width: 300px;
    text-align: justify;
    margin: auto;
}

#project3 img {
    width: 200px;
    height: auto;
}

#project3 img:hover {
    width: 250px;
    height: auto;
    cursor: pointer;
    filter: blur(5px);
}

#skills {
    grid-area: skills;
    text-align: center;
    justify-content: center;
}

#skillimages {
    grid-area: skillimages;
    text-align: center;
    position: relative;
    justify-content: center;
}


.weblogo {
    width: 200px;
    height: auto;
}

.weblogo:hover {
    width: 250px;
    height: auto;
    
}

.reactredux{
    width: 240px;
    height: auto;
}

.reactredux:hover{
    width: 290px; 
    height: auto;
}

.git {
    width: 215px;
    height: auto;
}

.git:hover {
    width: 265px;
    height: auto;
}


.weblogo, .reactredux, .git {
    padding: 20px;
    
}

footer {
    grid-area: footer;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

#contact {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .container{
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr .5fr 1fr;
        grid-template-areas: 
            "nav"
            "header"
            "about"
            "projects"
            "project1"
            "project2"
            "project3"
            "skills"
            "skillimages"
            "footer";
    }

    h1 {
        margin-top: 25px;
    }

    nav ul {
        width: 130px;
        position: relative;
        left: 25%;
    }

    nav li {
        margin-bottom: 20px; 
    }

    ul li a {
      margin-bottom: 20px;
    }

    #logo {
        display: relative;
        margin-top: 20px;
    }

    footer {
        font-size: 18px;
    }

    #about p {
        width: 400px;
    }

}